/*Обнуление*/
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
 
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
    text-decoration: none;
} 

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #86878b;    
    max-width: 1400px; /*максимальный размер 1170пх*/
    width: 100%; /*ширина блока*/
    margin: 0 auto; /*выровниваем по центру*/
}
.container{   
    max-width: 1140px; /*максимальный размер 1170пх*/
    width: 100%; /*ширина блока*/
    margin: 0 auto; /*выровниваем по центру*/
    padding: 0px 20px;
  /*   border: 1px solid var(--grayishblue); */
}
.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h2:after{
    content: "";
    display: block;
    width: 64px;
    height: 3px;
    margin: 30px auto 0;
    background-color: #ff8b38;
    text-align: center;
}


h3{
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
/*-----------------navbar------------------------*/
.navbar{
    /* height: 72px; */
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;    
    max-width: 1400px;
    margin: 0 auto;
    z-index: 1000;
}
.navbar__flex{
    padding: 20px 0;
}
.navbar__menu{
    display: flex;
    align-items: center;
   
    justify-content: space-between; /*justify-content определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнера, или вдоль строчной оси grid контейнера.*/       
}
.navbar__menu ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    margin-left:  10px;
    align-items: center;
}
    
.navbar__menu li{
    margin-left: 40px;
    cursor: pointer;    
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    opacity: 0.69;
}
.navbar__menu li:hover{
    opacity: 1;
}
/*-----------------navbar------------------------*/
/*-----------------header------------------------*/
.header{
    background: #000000 url("../img/header_background_psd.jpg") no-repeat center;
    /* background-color: #000000; */
    height: 720px;
    position: relative;
}

/*-----------------header------------------------*/

/*----------------------social-----------------------------*/
.social{
    padding: 16px 0;
    border-bottom: 3px solid #cccccc;
    /* border-top: none; */
}
.social_nav ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.social_nav ul li{
    list-style-type: none;
    margin-left: 60px; 
    cursor: pointer; 
}
.social_nav ul li:first-child{
    margin-left: 0px;  
}
.fab, .fas{
    color: rgb(204, 204, 204);
    font-size: 48px;
    line-height: 1.2;

}    
.fab:hover, .fas:hover{
    color: #ff8b38;
}
.social__title{
    margin-bottom: 12px;
}
.social__text{
    width: 360px;
}
/*-------------------------social--------------------------*/
/*-------------------------features--------------------------*/
.features{
    margin-top: 147px;
    margin-bottom: 114px;
}

/* .features__tab{
    width: 112px;
    height: 112px;
    border: 1px solid #000000;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;;
    text-transform: uppercase;  
}
 */
.features__tabs{
    margin-right: 100px;
}
.features__img{
    margin-left: 100px;
}
.features__btn{
    display: block;
    width: 112px;
    height: 112px;
    /* border: 1px solid #000000 */;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;;
    text-transform: uppercase;
    background-color: #333333;
    outline: none;
    cursor: pointer;
    margin-bottom: 3px;
  /*   border-radius: 5px; */
}
.features__btn:first-child{
    border-radius: 5px 5px 0 0;
}
.features__btn:last-child{
    border-radius: 0 0 5px 5px;
}

.features__btn:active{
    background-color: #ff8b38;
}
.content__title, .content__text{
    margin-bottom: 50px;
}


.content__btn{
    /* Style for "btn_primar" */
    width: 121px;
    height: 46px;    
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    background-color: #ff8b38;
    line-height: 20px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.content__btn:hover{
    background-color: #333333;
}
/*-------------------------features--------------------------*/

/*-------------------------features-2--------------------------*/
.features-2{
    margin-top: 100px;
    margin-bottom: 100px;
}
.features-2__img{
    margin-right: 78px;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
}
.features-2__content{
    margin-left: 78px;
}
.features-2__title{
    margin-bottom: 30px;
}
.features-2__text{
    margin-bottom: 46px;
}
/* .features-2__title:after{
    content: "";
    display: block;
    width: 64px;
    height: 3px;
    margin-top: 30px;
    background-color: #ff8b38;
} */

.title__sub{
    margin-left: 70px;
    margin-bottom: 40px;
}
.title__sub:last-child{   
    margin-bottom: 0px;
}
.sub-t{
    position: relative;
    margin-bottom: 12px;
}

.sub-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    position: relative;
    position: absolute;
    left:-70px;
    top:0;

}
.fa-cloud-upload-alt{
    position: absolute;
    color: #ff8b38;  
    font-size: 16px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
/*-------------------------features-2--------------------------*/
/*-------------------------features-3--------------------------*/

.features-3{
    padding-bottom: 110px;
}
.features-3__img{
    margin-left: 78px;
}
.features-3__content{
    margin-right: 78px;
}
.features-3__img
{
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
}
/*-------------------------features-3--------------------------*/
/*-------------------------proces--------------------------*/
.proces{
    margin-bottom: 100px;
}
.proces_title{
    margin-bottom: 30px;

}
.proces__items{
    /* flex: 33.33333%; */
    padding: 0 20px;
}
.proces__items:first-child{
    /* flex: 33.33333%; */
    padding-left: 0;
}
.proces__items:last-child{
    /* flex: 33.33333%; */
    padding-right: 0;
}
.proces__icon{
    width:70px;
    height: 70px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    margin: 0 auto 29px;
    position: relative;

}
.font-icon{
    position: absolute;
    color: #ff8b38;
    font-size: 32px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}


/* .proces_title:after{
    content: "";
    display: block;
    width: 64px;
    height: 3px;
    margin: 30px auto 0;
    background-color: #ff8b38;
    text-align: center;
} */
.items__text,
.items__title,
.proces__text{
    text-align: center;
}
.proces__text{
    margin-bottom: 80px;
}
.items__title{
    margin-bottom: 25px;
}

/*-------------------------proces--------------------------*/
/*-------------------------pricing--------------------------*/
.pricing{
margin-bottom: 200px;
}
.pricing__flex{
    align-items: flex-end;
}
.pricing__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /*  width: 220px; */
    /* height: 360px; */
    flex-wrap: wrap;
    /* border: 2px solid black; */
    cursor: pointer;
    flex: 33.33333%;
    background-color: #333333;
}
.pricing__tarif{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #ffffff;
}
.pricing__amount{
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin: 50px 0 18px;    
}
.amount__info{
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    margin: 18px 0;
}
.pricing__item:nth-child(2){
    margin: 0 40px;
}

/* .pricing__title:after{
    content: "";
    display: block;
    width: 64px;
    height: 3px;
    margin: 30px auto 0;
    background-color: #ff8b38;
    text-align: center;
} */
.pricing__title{
    margin-bottom: 30px;
}
.pricing__text{
    text-align: center;
    margin-bottom: 80px;
}
.pricing__content{
    background-color: #ffffff;
}
.pricing__content > p{
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 0;
}

.pricing__btn{
    max-width: 100%;
    height: 5px;
    background-color: #ff8b38;
    font-size: 0;
    color: #ffffff;
    font-family: "Open Sans";
    text-align: center;
    text-transform: uppercase;
    outline: none;
}
.pricing__item:nth-child(2) .pricing__btn{
    height: 40px;
    background-color: #ff8b38;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.pricing__amount > span{
/* Style for "$19" */
color: #ffffff;
font-family: Raleway;
font-weight: 700;
line-height: 24px;
text-align: center;
font-size: 35px;
} 

/*-------------------------pricing--------------------------*/
/*-------------------------testimonia--------------------------*/
.testimonia{
    margin-bottom: 100px;
}
.testimonial__flex{
    display: flex;
}
.testimonia__text{
    text-align: center;
    margin-bottom: 55px;
}
.testimonia__item{
	flex: 0 1 33.333%;
	display: flex;

}
.testimonia__vertical{
	display: flex;
    flex-direction: column;
}
.item-text{
    padding-bottom: 41px;
    flex: 1 1 auto;
}
.item-about{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item-img{
    margin-right: 15px;
}
.name{
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.position{
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.testimonia__item:nth-child(2){
    margin: 0 145px;
}
/*-------------------------testimonia--------------------------*/
/*-------------------------custom--------------------------*/
.custom{
    background-image:url("../img/u25_state.jpg");
    background-size: cover;
    background-position: center;
    height: 320px;
    position: relative;
    z-index: 1;
    display: flex;
    padding-top: 73px;
    padding-bottom: 64px;
    margin-bottom: 100px;
}
.custom::after{
    content: "";
    width: 1400px;
    height: 320px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.4;
    z-index: 2;   
}
/*     background-color: #000000;
    opacity: 0.4;  */

.custom__flex{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    z-index: 3;
    margin: 0 auto;
}
.custom__title > h2{
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.custom__title > h2:after{
    background-color: #ffffff;
    margin: 23px auto 0; 
}
.custom__text > p{
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 33px;
}
.custom__btn{
    outline: none;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    width: 135px;
    height: 42px;
    border: 2px solid #ffffff;

}

.custom__btn{
    width: 135px;
    height: 42px;    
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    line-height: 20px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.custom__btn:hover{
    color: #000000;
    background-color: #ffffff;
}

/*-------------------------custom--------------------------*/
/*-------------------------contacs--------------------------*/
.contacs{
    margin-bottom: 80px;
}   
.contacs__forms{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 43px;    
}
.contacs__title{
    text-align: center;
    margin-bottom: 80px;
}
.contacts__input{
    display: flex;
    flex-direction: column;
    margin-right: 33px;
}
.contacts__input > input{
    width: 527px;
    height: 31px;
    box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
    margin-bottom: 30px;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    outline-color:#ff8b38;
    padding-left: 20px;

}
.contacts__input > input:last-child{
    margin-bottom: 0;
}
    
.contacs__mesage{
    flex: 1 1 auto;
    box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);

}
textarea{
    height: 100%;
    width: 100%;
    resize: none; 
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    outline-color:#ff8b38;
    padding-left: 20px;
}
.btn{
    text-align: center;
}
.contacs__btn{
    width: 148px;
    height: 46px;   
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    background-color: #ff8b38;
    line-height: 20px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    align-items: center;
}
.contacs__btn:hover{
    opacity: 0.8;
}
/*-------------------------contacs--------------------------*/

/*-------------------------footer--------------------------*/

.footer{
    background-color: #000000;
}
.social_nav{
    padding: 38px 0 15px;
}



.footer__copyraite{
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 15px;

}

.footer  .fab, .footer  .fas{
    color: rgb(204, 204, 204);
    font-size: 24px;
    line-height: 1.2;

} 
.footer  .fab:hover, .footer  .fas:hover{
    color:  #ff8b38;

} 
/*-------------------------footer--------------------------*/